/*--------------------
 Header Nav Title img btn 
 ------------------- */
.group-info {
    margin-bottom: 50px;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1265px;
}

.head {
    display: flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 50px;

}

.h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    margin-left: 230px;
}

.navs {
    display: flex;
    margin-left: 900px;
    justify-content: space-between;
}

nav {
    margin-left: 40px;
}

/* Grup-styles */
.grup {
    text-align: center;
}

.header-title {
    font-weight: 700;
    font-size: 64px
}

.header-sub {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    margin-bottom: 50px;
    margin-top: 27px;
}

/* main part - quick list  */
.list {
    display: flex;
    align-items: center;
    margin-top: 85px;
    
}

.quick-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-left: 300px;
}

.quick-list img {
    width: 342px;
    height: 342px;
}
.list-info {
    margin-left: 75px;
    width: 537px;
height: 304px;
}
.dark {
    color: #727272;
}
.orange {
    color: #FF900E;
}
.list-title {
    font-weight: 700;
    font-size: 45px;
}

.list-sub {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* -------------------
    future section 
------------------*/

.future-items {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    
}
.main-title {
    font-weight: 700;
font-size: 45px;
color: #131313;
}
.infos p {
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.infos h1 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.future-info ul li {
    background-color: #FFFFFF;
    gap: 10px;
}
.future-img {
    width: 708px;
    height: 982px;
}
.infos {
   margin-bottom: 10px;
   padding: 30px 40px 30px 30px;
    
}

.future-btn {
    margin-top: 0%;
    margin-left: 700px;
    padding: 20px 35px 10px 35px;
    font-weight: 700;
    font-size: 65px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}
.future-btn .btn-sub {
    font-size: 30px;
    margin-top: 0;
}
.icons {
    display: flex;
    margin-left: 200px;
}
.icons div {
    text-align: center;
    margin-left: 200px;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
}
.icons img {

    width: 45.22px;
height: 45.22px;
}
.icons h1 {
    margin-top: 0;
    font-weight: 600;
font-size: 45px;
}
.icons p {
    margin-top: 0;
    font-weight: 600;
font-size: 20px;
color: #727272;
}
.facts-info {
        margin-left:350px ;
}
.facts-title {
    font-weight: 700;
    font-size: 45px;
}
.facts-sub {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.last-imgs {
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;

}
.last {
    text-align: center;
  
}
.last h1 {
    font-weight: 700;
    font-size: 45px;
}
.last p {
    font-weight: 400;
font-size: 16px;
color: #727272;
}
footer {
    text-align: center;
    border: none;
    background-color:  #FFF4E7;
    border-radius: 8px;
    padding: 40px 400px;
    margin: 130px 240px;
}
.last-work {
    font-weight: 400;
font-size: 20px;
color: #424242;
}


@media screen and (max-width:570px) {

    .navs {
        display: block;
        margin-left: 900px;
        margin-right: 500px;
        margin-top: 50px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    body {
        width: 570px;
    }
    header {
        background-color: rgba(255, 144, 14, 0.1);
    }
    
    
}